@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Global Styles 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2e52f3;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
}

header h1{
    color: #2ef352;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
}

nav a:hover{
    color: #2ef352;
}

.soial_links i{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 9px;
    border-radius: 50%;
    transition: 0.4s;
}

.soial_links i:hover{
    color: #2ef352;
    background: #fff;
    border-color: #2ef352;
}

/*========= hero section start =====*/
#hero{
    background: #fff7f7;
    width: 100%;
    height: 100vh;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.main-container .hero-text{
    flex: 1 1 20rem;
}

.main-container .hero-img{
    flex: 1 1 10rem;
}

.main-container .hero-img img{
    width: 100%;
    height: 40.8rem;
}

/* Sections */
section {
    padding: 6rem 6%;
    width: 100%;
}

/* About Me Section */
#about {
    background-color: #f4f4f4;
}

/* Services Section */
#services ul {
    padding-left: 20px;
}

/* Skills Section */
#skills ul {
    columns: 2;
    list-style-type: none;
}

/* Projects Section */
.project {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
}

/* Contact Section */
#contact {
    background-color: #f4f4f4;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin-bottom: 10px;
    }
}
